.idea
migrations
*.log
CredentialManager/__pycache__/
credential/__pycache__/
credential/service/__pycache__/
employee/__pycache__/
employee/service/__pycache__/
files/__pycache__/
organization/__pycache__/
organization/service/__pycache__/
project/__pycache__/
project/service/__pycache__/
utils/__pycache__/